html {
    background-image: url('./images/bg/pokemon_bg.png');
}

:root {
    /* ---------------Colors---------------- */
    --white: #FFFFFF;
    --black: #001A23;
    --violet: #7B6085;
    --blue: #306BAC;
    --aquamarine: #7AE7C7;
    --green: #0CCE6B;
    --yellow: #F8C630;
    --orange: #EF8218;
    --red: #A32235;
    /* ---------------Values--------------- */
    --header-height: 5rem;
    --sidebar-width: 5rem;
    --sidebar-open-width: 15rem;
}

/* ----------------Header------------------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--white);
}
/* --Sidebar Button-- */
.sandwich-btn {
    width: var(--header-height);
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    background-color: var(--white);
}
.wich-one, .wich-two, .wich-three{
    width: 80%;
    height: calc(var(--header-height) / 12);
    background-color: var(--black);
    transition: 0.4s;
}
.open .wich-one{
    -webkit-transform: rotate(-45deg) translate(-14px,14px);
    transform: rotate(-45deg) translate(-14px,14px);
}
.open .wich-two{
    opacity: 0;
}
.open .wich-three{
    -webkit-transform: rotate(45deg) translate(-15px,-17px);
    transform: rotate(45deg) translate(-15px,-17px);
}
/* --Header nav-- */
#header-nav{
    padding-right: 50px;
    display: flex;
    gap: 30px;
}

.header-links{
    text-decoration: underline;
    font-weight: 600;
}
.header-links:hover{
    cursor: pointer;
}
/* --------------Sidebar--------------- */
#sidebar{
    width: var(--header-height);
    height: calc(100vh - var(--header-height));
    background-color: var(--white);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* --Sidebar-nav--*/
.sidebar-nav{
    display: flex;
    align-items: center;

}
.sidebar-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-links:hover{
    cursor: pointer;
}
.link-span{
    font-weight: 600;
}
.link-underline{
    width: 50px;
    height: 10px;
    background-color: var(--black);
    transition: 0.4s;
}
#home-nav:hover #home-underline{
    background-color: var(--red);
}
#dex-nav:hover #dex-underline{
    background-color: var(--orange);
}
.link-underline::before{
    position: absolute;
    left: 10px;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--black);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.link-underline::after{
    position: absolute;
    left: 60px;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--black);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.description-box{
    display: none;
}

/* -------------------Main-------------------- */
section{
    position: absolute;
    top: var(--header-height);
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    min-height: calc(100vh - var(--header-height));
}